extends layout
block content
    h1= title
    form(id='gasForm' action="/resource/gases" method="POST")
    
        div.form-group
            label.gasAttr(for='gas_name') gas Name
            input#gas_name(type='text' name='gas_name')
        div.form-group
            label.gasAttr(for='quantity') gas quantity
            input#quantity(type='number' name='quantity')
        div.form-group
            label.gasAttr(for='types') gas types
            input#types(type='text' name='types')
        input(type="submit")
    script.
      document.forms['gasForm'].addEventListener('submit', (event) => {
        event.preventDefault();
    // TODO do something here to show user that form is being submitted

        fetch(event.target.action, {
          method: 'POST',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Save succeded")
    // TODO handle body
        }).catch((error) => {
    // TODO handle error
          alert("Save failed " + error )
        });
        });